header .link, 
header .brand-name .inner {
    color: white;
}

header.scrolled .link, 
header.scrolled .brand-name .inner {
    color: var(--bs-dark);
}

header.scrolled {
    background-color: hsl(0, 0%, 99%, 95%);
    backdrop-filter: blur(2px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 80px;
}

.brand-name {
    color: var(--bs-warning);
}

.brand-name .inner {
    color: var(--bs-dark);
}